@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
	--main-color: #1d2231;
	--color-dark: #1d2231;
	--text-grey: #8390a2;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'poppins', sans-serif;
}

.sidebar {
	width: 300px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #ECF2FF;
	z-index: 100;
	transition: width 300ms;
}

.sidebar-brand {
	height: 90px;
	padding: 1rem 0rem 1rem 2rem;
	color: white;
}

.sidebar-brand span {
	display: inline-block;
	padding-right: 1rem;
}

.sidebar .sidebar-menu .item .menu-btn {
	display: block;
	color: white;
	position: relative;
	padding: 25px 20px;
	text-decoration: none;
}

.sidebar .sidebar-menu .item .menu-btn:hover {
	color: aqua;
}

.sidebar .sidebar-menu .item .menu-btn i {
	margin-right: 20px;
}

.sidebar .sidebar-menu .item .menu-btn .drop-down {
	float: right;
	font-size: 12px;
	margin-top: 3px;
}

.sidebar .sidebar-menu .item .sub-menu {
	background: black;
	overflow: hidden;
	max-height: 0;
	transition: 0.5s;
	transition-property: background, max-height;
}

.sidebar .sidebar-menu .item .sub-menu a {
	display: block;
	position: relative;
	color: #fff;
	white-space: nowrap;
	font-size: 15px;
	padding: 20px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	transition: 0.5s;
	transition-property: background;
}

.sidebar .sidebar-menu .item .sub-menu a:hover {
	background: black;
}

.sidebar .sidebar-menu .item .sub-menu i {
	padding-right: 20px;
	font-size: 10px;
}

.sidebar .sidebar-menu .item:target .sub-menu {
	max-height: 500px;
}

#nav-toggle:checked + .sidebar {
	width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
	padding-left: 1rem;
	text-align: center;
}

#nav-toggle:checked + .sidebar li a {
	padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
	display: none;
}

#nav-toggle:checked ~ .maint-content {
	margin-left: 70px;
}

#nav-toggle:checked ~ .maint-content header {
	width: calc(100% - 70px);
	left: 70px;
}

.maint-content {
	transition: margin-left 300ms;
	margin-left: 300px;
}

header {
	background: #EBC7E6;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 300px;
	width: calc(100% - 300px);
	top: 0;
	z-index: 100;
	transition: left 300ms;
}

header h2 {
	color: #222;
}

header label span {
	font-size: 1.7rem;
	padding-right: 1rem;
}
.container{
    margin-top: 10%;
}
	
